

<div class="topad"><img src=".\img\front_annons_cropped.jpg"></div>
<div class="topad_large"><img src=".\img\front_annons_cropped_large.jpg"></div>
<div class="front_infobox">
    <h1>Välkommen till Rehabgym</h1>
    
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Proin nunc erat, malesuada nec efficitur eget, aliquet id elit.
         Morbi mattis ex et orci lobortis tempus. Phasellus tempor nisi 
         tempor lectus euismod sollicitudin. Donec sapien nulla, gravida 
         malesuada ipsum at, finibus aliquet orci. Pellentesque sit amet 
         ligula cursus neque feugiat rhoncus et nec magna. Pellentesque 
         et est vel orci euismod congue. In eu euismod arcu. Maecenas 
         varius ante nibh. Quisque vel nisl at felis bibendum euismod a 
         nec est.
    </p>
</div>