<div class="priser">
    <h1>Gymkort</h1>
    <p>500kr för 2 månader</p>
    <p>2000kr för 6 månader</p>
    
    <h1>Personlig tränare</h1>
    <p>80kr/h per pass</p>
    <p>800kr för 6 pass</p>
    
    <h1>Rådgivning</h1>
    <p>700kr för Träningsplan med matplan</p>
    <p>1600kr för Träningsplan med matplan samt uppföljning efter 10 veckor</p>
</div>